<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Available:</b>
  <%=h @user.available %>
</p>

<p>
  <b>Comment:</b>
  <%=h @user.comment %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>